[submodule "javascript-exercises"]
	path = javascript-exercises
	url = https://github.com/TheOdinProject/javascript-exercises.git
[submodule "css-exercises"]
	path = css-exercises
	url = https://github.com/TheOdinProject/css-exercises.git
